@import url(https://fonts.googleapis.com/css?family=Nunito);

.text-white {
  color:  white;
}

.w-full {
  width: 100%;
}

h1 {
  font-family: 'Airbnb Cereal Black';
}

h4, b {
  font-family: 'Airbnb Cereal Book';
  font-weight: 900;
}
